# Node
**/node_modules/

# Environment
**/.env
**/.env.local
**/.env.*.local

# Build
**/dist/
**/build/

# vitest coverage
**/coverage/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Prisma generated client
backend/generated/
